function Main.main 0
call Screen.clearScreen 0
pop temp 0
call Attack.setScore 0
pop temp 0
call Attack.updateScore 0
pop temp 0
call getInput.getInput 0
pop temp 0
call Attack.askForAttack 0
pop temp 0
push constant 0
return
